:root {
    --primary-color: #2a9d8f;
    --secondary-color: #e76f51;
    --background-color: #f4f4f4;
    --text-color: #333333;
    --accent1-color: #264653;
    --accent2-color: #f4a261;
    --heading-font: Times New Roman, serif;
    --body-font: Arial, sans-serif;
}
header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.hero img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article img {
    float: right;
    width: 125px;
}