:root {
    --primary-color: #ff0000;
    --secondary-color: #00ff00;
    --background-color: #f4f4f4;
    --text-color: #333333;
    --accent1-color: #0000ff;
    --accent2-color: #ff00ff;
    --heading-font: Arial, sans-serif;
    --body-font: Verdana, sans-serif;
}
header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    text-align: center;
}
.site-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.logo {
    width: 120px;
    margin-bottom: 15px;
}
.nav-menu {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}
.nav-menu a {
    gap: 12px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}
header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
.p {
    color: var(--text-color);
}
button.primary {
    background-color: var(--accent-color);
    color: #0000ff;
    border: none;
}
button.secondary {
    background-color: var(--accent2-color);
    color: #ff00ff;
    border: none;
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;    
}
.hero {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 0;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    z-index: 1;
}
.hero article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 30%;
    bottom: 20px;
    left: 20px;
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    z-index: 1;
}
.hero article img {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.small img {
    width: 50%;
    height: auto;
    display: block;
    font-size: 1rem;
}