*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
main {
    max-width: 840px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: start;
    gap: 30px;
    margin-top: 40px;
    padding: 2rem;
}
.profile {
    text-align: right;
}
.profile img {
    width: 180px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #ddd;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
.temples {
    list-style: disc;
    padding: 20px;
    margin: 0;
}
.temples li{
    margin-bottom: 8px;
}
.temples a {
    text-decoration: none;
    color: #0066cc;
}
.temples a:hover {
    text-decoration: underline;
}
.body {
    background-color: #f9fafb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bio {
    text-align: center;
}
.bio p {
    font-size: 18px;
    line-height: 1.6;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    max-width: 200px;
    height: auto;
}
.aside h2 {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 14px;
}
main img {
    width: 150px;
    height: auto;
}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}