* {
    margin: 0;
    padding: 0;
} 
nav{
    background-color: darkblue;
    padding: 10px;
    box-sizing: border-box;
}
nav a {
    color: white;
    margin: 20px;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
}
h1 {
    color: darkblue;
    border-bottom: 2px solid darkblue;
}
img {
    float: none;
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0px;
}
main {
    margin: 1rem;
    padding: 1rem;
}
.main-title {
    text-align: center;
    white-space: nowrap;
}
.main-content {
    text-align: center;
}
.image-container {
    position: relative;
    display: inline-block;
}
.image-container img {
    width: 100%;
    display: block;
    border-radius: 5px;
}
.label {
    position: absolute;
    top: 5px;
    right: 5px;
    transform:none; 
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 2px 6px;
    font-size: 0.9rem;
    border-radius: 3px;
}
.city-image {
    text-align: center;
}
.content-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    align-items: start;
}
.profile { 
    text-align: center;
}
.profile-pic {
width: 150px;
 height: auto;
  border-radius: 50%; 
  display: block;
    margin:0 auto;
}

.content-grid h1 {
    text-align: center;
    margin-bottom: 1rem;
}
aside {
    position: relative;
    width: 100%;
    margin: 0;
    border: 1px solid rgba(0 0 0/ 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 100%;
    height: auto;
    display: block;
}
aside h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    width: fit-content;
}
main img {
    width: 150px;
    height: auto;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 10px gray;
    margin: 0 0 1rem 1rem;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    padding: 10px;
    border: 1px solid rgb(0 0 0/ 10%);
    border-radius: 8px;
    background-color: #ddd;
    color: #000;
    text-align: center;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}