* {
    margin: 0;
    padding: 0;
} 
nav{
    background-color: darkblue;
    padding: 10px;
    box-sizing: border-box;
}
nav a {
    color: white;
    margin: 20px;
    text-decoration: none;
}
h1 {
    color: darkblue;
}
img {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0px;
}
main {
    max-width: 840px;
}
aside {
    position: relative;
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0 0 0/ 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    width: fit-content;
}
main img {
    width: 150px;
    height: auto;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0/ 10%);
    background-color: #ddd;
    color: #000;
}