*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
main {
    max-width: 840px;
}
nav {
background-color: darkblue;
padding: 10px;
}
nav a{
    color: white;
    padding: 10px;
    display: block;
}
h1 {
    color: darkblue;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    max-width: 200px;
    height: auto;
}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}